---
// Supports weights 300-700
import '@fontsource-variable/quicksand';
import '@fontsource/roboto/400.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>AstroqQb</h1>
	</body>
</html>

<style>
	@import '../../node_modules/@fontsource-variable/quicksand/wght.css';
	
	:root {
		--white: #ffffff;
		--black: #000000;
		--dark: #232830;
		--very-light-pink: #c7c7c7;
		--text-input-field: #f7f7f7;
		--hospital-green: #acd9b2;
	}

	body {
		font-family: 'Quicksand Variable', sans-serif;
	}
	/* h1 {
		font-family: 'Roboto', sans-serif;
	} */
</style>
