---
// Supports weights 300-700
import '@fontsource-variable/quicksand';
import '@fontsource/roboto/400.css';
import NavBar from '../components/NavBar';
import Home from '../sections/Home.astro';
import Cart from '../components/Cart.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body>
		<NavBar client:load />
		<Home />
		<section class="flex flex-wrap justify-center mx-14">
			<Cart src="../../public/create_a_new password.png" href="/CrearContrasena" text="Create a new password" />
			<Cart src="../../public/create_a_new password.png" href="/" text="Create a new password" />
			<Cart src="../../public/create_a_new password.png" href="/" text="Create a new password" />
			<Cart src="../../public/create_a_new password.png" href="/" text="Create a new password" />
			<Cart src="../../public/create_a_new password.png" href="/" text="Create a new password" />
			<Cart src="../../public/create_a_new password.png" href="/" text="Create a new password" />
			<Cart src="../../public/create_a_new password.png" href="/" text="Create a new password" />
		</section>
	</body>
</html>
