---
// Supports weights 300-700
import '@fontsource-variable/quicksand';
import '@fontsource/roboto/400.css';
import NavBar from '../components/NavBar';
import Login from '../sections/Login.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Create a new password</title>
	</head>
	<body>
		<NavBar client:load />
		<Login />
	</body>
</html>