<div class="mt-5">
	<h3 class="font-bold sm:mr-[11.5rem]">{Astro.props.text}</h3>
	<input
		style={Astro.props.style}
		class="h-10 w-80 rounded-lg border-2 border-[#ffffff00] bg-grisClaro pb-1 pl-2 sm:w-96"
		type="text"
		placeholder={Astro.props.placeholder}
	/>
</div>

<style>
	input::placeholder {
		color: #c7c7c7;
	}
	input[type='text']:focus {
		border: 2px solid #949494;
		outline: none;
	}
</style>
