<div class="mt-5 sm:ml-2">
	<h3 class="sm:mr-[11.5rem]">{Astro.props.text}</h3>
	<input
		style={Astro.props.style}
		class="h-10 w-80 rounded-lg bg-[#fdefef] pb-1 pl-2 sm:w-96"
		type="text"
		placeholder={Astro.props.placeholder}
	/>
</div>

<style>
	input {
		border: 2px solid rgb(252, 115, 115);
	}
	input::placeholder {
		color: #c7c7c7;
	}
	input[type='text']:focus {
		border: 2px solid #949494;
		outline: none;
	}
	h3 {
		font-family: 'Quicksand Variable', sans-serif;
		font-weight: 700;
		color: rgb(255, 84, 84);
	}
</style>
