---
import SearchS from '../../public/searchS.astro';
---

<div class="mt-5">
	<input class="flex" />
	<h3 class="relative font-bold sm:mr-[11.5rem]">{Astro.props.text}</h3>
	<div class="flex justify-center">
		<div class="flex justify-end">
			<div class="absolute flex pt-2 pr-2">
				<SearchS w="24" h="24" />
			</div>
			<input
				style={Astro.props.style}
				class="h-10 w-80 rounded-lg border-2 border-[#ffffff00] bg-grisClaro pb-1 pl-2 sm:w-96"
				type="text"
				placeholder={Astro.props.placeholder}
			/>
		</div>
	</div>
</div>

<style>
	input::placeholder {
		color: #c7c7c7;
	}
	input[type='text']:focus {
		border: 2px solid #949494;
		outline: none;
	}
</style>
