---
import LogoYardSale from '../../public/Platzi Yard Sale/Platzi_YardSale_Logos/logo_yard_sale.astro';
import ButtonGreen from '../components/ButtonGreen.astro';
import InputText from '../components/InputText.astro';
---

<body>
	<main class="mt-16 flex h-[23.3vh] flex-col items-center justify-around">
		<LogoYardSale width="148" height="38" />
		<div class="flex flex-col items-center">
			<h1 class="text-lg">Create a new password</h1>
			<h2 class="mt-2 text-lg text-[#9b9b9b]">Enter a new password for your account</h2>
		</div>
	</main>
	<article class="mt-2 flex flex-col items-center">
		<InputText text="Password" placeholder="More than 8 characters" />
		<InputText text="Re-enter-password" placeholder="Same Password" />
	</article>
	<section class="mt-14 flex flex-col items-center">
		<ButtonGreen href="#" text="Confirm new password" />
	</section>
</body>

<style>
	h1 {
		font-family: 'Quicksand Variable', sans-serif;
		font-weight: 700;
	}
	h2 {
		font-family: 'Quicksand Variable', sans-serif;
		font-weight: 500;
	}
</style>
