---
import LogoYardSale from "../../Platzi Yard Sale/Platzi_YardSale_Logos/logo_yard_sale.astro";
---

<body>
    <main>
        <LogoYardSale/>
    </main>
    <article>
        
    </article>
    <section>

    </section>
    <div>

    </div>
</body>