---
import Search from '../components/Search.astro';
import Prueba from '../components/Prueba';
import CartShopRe from '../components/CartShopRe';
---

<Search placeholder="Search product" />
<section class="mt-5 flex flex-wrap items-center justify-center sm:hidden">
	<a
		href="#"
		class="ml-3 flex h-4 w-8 items-center justify-center rounded-xl border-2 border-verde px-7 py-4 text-verde"
		>All</a
	>
	<a href="#" class="mx-6">Clothes</a>
	<a href="#" class="mx-3">Electornics</a>
	<a href="#" class="mx-3">Furniture</a>
	<a href="#" class="mx-3">Toys</a>
	<a href="#" class="mx-3">Others</a>
</section>
<div class="mb-4 mt-7 flex items-center justify-center">
	<Prueba client:load />
</div>
<section class="flex flex-wrap items-center justify-center">
	<!--"\Bt_add_to_cart.svg"
		"\Bt_added_to_cart.svg" -->
	<CartShopRe client:load />
</section>
