---
import LogoYardSale from '../../public/Platzi Yard Sale/Platzi_YardSale_Logos/logo_yard_sale.astro';
import ButtonGray from '../components/ButtonGray.astro';
import ButtonWhite from '../components/ButtonWhite.astro';
import InputText from '../components/InputText.astro';
import InputTextError from '../components/InputText_error.astro';
---

<body>
	<a class="mr-3 mt-3 flex justify-end"><img src="../../icon_close.png" alt="Close" /></a>
	<main class="mt-8 flex h-[23.3vh] flex-col items-center justify-around sm:mt-0">
		<LogoYardSale width="250" height="66" />
	</main>
	<article class="mt-[-4rem] flex flex-col items-center sm:mt-[0rem]">
		<InputTextError text="Enter a valid email address" placeholder="yardsale@examle.com" />
		<InputText style="padding-top: 0.5rem;" text="Password" placeholder="**********" />
	</article>
	<section class="mt-6 flex flex-col items-center">
		<ButtonGray href="#" text="Log in" />
		<a href="#" class="mt-8 text-verde hover:text-[#8caf90]">Forgot my password</a>
		<div class="mb-8 mt-[5rem] flex sm:mb-0 sm:mt-8"><ButtonWhite href="#" text="Sign up" /></div>
	</section>
</body>