---
import LogoYardSale from '../../public/Platzi Yard Sale/Platzi_YardSale_Logos/logo_yard_sale.astro';
import ButtonGreen from '../components/ButtonGreen.astro';
import ButtonWhite from '../components/ButtonWhite.astro';
import InputText from '../components/InputText.astro';
---

<body>
	<a class="flex justify-end mr-3 mt-3"><img src="../../icon_close.png" alt="Close"></a>
	<main class="flex h-[23.3vh] flex-col items-center justify-around mt-8 sm:mt-0">
		<LogoYardSale width="250" height="66" />
	</main>
	<article class=" mt-[-4rem] sm:mt-[0rem] flex flex-col items-center">
		<InputText text="Email address" placeholder="yardsale@examle.com" />
		<InputText text="Password" placeholder="**********" />
	</article>
	<section class="mt-12 flex flex-col items-center">
		<ButtonGreen
			href="#"
			text="Log in"
		/>
	<a href="#" class="text-verde mt-8 hover:text-[#8caf90]">Forgot my password</a>
	<div class="mt-28 mb-8 flex sm:mt-8 sm:mb-0"><ButtonWhite href="#" text="Sign up"/></div>
	</section>
</body>

<style>
	h1 {
		font-family: 'Quicksand Variable', sans-serif;
		font-weight: 700;
	}
	h2 {
		font-family: 'Quicksand Variable', sans-serif;
		font-weight: 500;
	}
</style>
