---
import Email from '../../public/Platzi Yard Sale/Platzi_YardSale_Icons/email.astro';
import LogoYardSale from '../../public/Platzi Yard Sale/Platzi_YardSale_Logos/logo_yard_sale.astro';
import ButtonGreen from '../components/ButtonGreen.astro';
---

<section class="flex flex-col items-center justify-center">
	<div class="mt-14">
		<LogoYardSale width="158" height="48" />
	</div>

	<h1 class="mt-10 text-lg font-bold">Email has been sent!</h1>
	<p class="mt-1 flex w-64 text-center text-lg font-normal text-gris">
		Please check your inbox for instructions on how to reset the password
	</p>
	<div class="mt-7 flex h-36 w-36 items-center justify-center rounded-full bg-grisClaro">
		<Email />
	</div>

	<section class="mt-8"><ButtonGreen text="Login" /></section>
	<a href="#" class="mt-8"
		>Didn't receive the email?<span class="text-verde hover:text-[#8caf90]"> Resend</span></a
	>
</section>
