---
import LogoYardSale from '../../public/Platzi Yard Sale/Platzi_YardSale_Logos/logo_yard_sale.astro';
import ButtonGreen from '../components/ButtonGreen.astro';
import InputText from '../components/InputText.astro';
---

<section class="flex flex-col items-center justify-center">
	<div class="mt-16">
		<LogoYardSale width="168" height="58" />
	</div>

	<h1 class="mt-12 text-lg font-bold">Password recovery</h1>
	<p class="mt-1 flex w-64 text-center text-lg font-normal text-gris">
		Infom the email address used to create your account
	</p>

	<div class="mt-2"><InputText text="Email address" placeholder="yardsale@examle.com" /></div>
	<section class="mt-8"><ButtonGreen text="Submit" /></section>
	<a href="#" class="mt-8 text-verde hover:text-[#8caf90]">Back to log in</a>
</section>
