---
import CartShopRe from '../components/Pruebas';
---
<section class="flex flex-wrap items-center justify-center">
	<!--"\Bt_add_to_cart.svg"
		"\Bt_added_to_cart.svg" -->
	<CartShopRe client:load><h1>aca</h1></CartShopRe>
</section>
