<article class="flex items-center justify-center flex-col mt-10">
    <h1 class="font-bold">Team</h1>
    <p class="font-medium text-center w-5/6 sm:w-4/6">
        I am Juan David Cutiva Lopez, I was born on February 9, 2007, I really like programming and this
        page you are seeing was made with TailWind and Astro. I hope to continue doing bigger projects and
        improve little by little.
    </p>
    <img class="h-[60vh] mt-8 rounded-md" src="https://i.postimg.cc/HxFNvdKd/IMG-20240609-WA0035.jpg" alt="ImgTeam">
</article>

